@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
}

a {
  @apply text-blue-800 dark:text-blue-400
}

h1 {
  @apply text-3xl text-slate-900 dark:text-white font-semibold
}

h2 {
  @apply text-xl text-slate-800 dark:text-gray-100
}
